.DS_Store
SCRIPTED_WORKFLOW/temp_monitoring_env
SCRIPTED_OUTPUTS/
DATASET-BT_Template_Highlighted.docx
HOBO Processing Workflow.pptx
SOP-Temperature-TCRMP-QAQC.doc
SOP-Temperature-TCRMP-QAQC.docx
TCRMP_TempSiteMetadata.csv
Temperature_UVI_deployment_log.csv